body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14pt;
}

.jumbotron {
	background-color: #dd4b39;
	color: #000;
}


svg circle {
  fill: #999;
  fill-opacity: 0.25;
  stroke: #777;
  stroke-width: 1px;
}

svg .leaf circle {
  fill: #dd4b39;
  fill-opacity: 1;
}

svg text {
  font: 10px sans-serif;
  text-anchor: middle;
}


a {
	color: #000;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even){
	background-color: #eee;
}

th {
	background-color: #ddd;
}
