<html>

<head>
<title>pHAT Sniffer</title>
<link rel="stylesheet" href="/static/bootstrap.min.css" />
<link rel="stylesheet" href="/static/style.css" />
<script src="/static/jquery.min.js"></script>
<script src="/static/d3.v4.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
<script src="/static/sorttable.js"></script>
</head>

<body>

<div class="jumbotron text-center">
<h1><img src="/static/logo.png" style="height:1em;" /> pHAT Sniffer</h1>
</div>

<div class="container">

<ul class="nav nav-tabs">
<li class="active"><a data-toggle="tab" href="#overview">Overview</a></li>
<li><a data-toggle="tab" href="#beacons">Beacons</a></li>
<li><a data-toggle="tab" href="#clients">Clients</a></li>
<li><a data-toggle="tab" href="#control">Control</a></li>
</ul>

<div class="tab-content">

<div id="overview" class="tab-pane fade in active">
<svg width="600" height="610"></svg>
<script>
{% autoescape false %}
var circles = {{circles}}
{% endautoescape %}
var svg = d3.select("svg"),diameter = +svg.attr("width"),g = svg.append("g").attr("transform","translate(2,12)"), format = d3.format(",d");
var pack = d3.pack().size([diameter-4,diameter-4]);
root = d3.hierarchy(circles).sum(function(d) {return d.size;}).sort(function(a,b) {return b.value-a.value;});
var node = g.selectAll(".node").data(pack(root).descendants()).enter().append("g").attr("class", function(d) {return d.children ? "node" : "leaf node";}).attr("transform", function(d) { return "translate("+d.x+","+d.y+")";});
node.append("title").text(function(d) {return d.data.name+"\n"+format(d.value);});
node.append("circle").attr("r", function(d) {return d.r;});
node.filter(function(d) {return !d.children;}).append("text").attr("dy", "0.3em").text(function(d) {return d.data.name.substring(0, d.r/3);});
</script>
</div>

<div id="beacons" class="tab-pane fade">
<p>
<table class="sortable">
<thead>
<tr>
<th>MAC</th>
<th>SSID</th>
<th>Channel</th>
<th>Vendor</th>
<th>RSSI (dBm)</th>
</tr>
</thead>
<tbody>
{% for addr, data in beacons %}
<tr>
<td>{{addr}}</td>
<td>{{data['ssid']}}</td>
<td>{{data['channel']}}</td>
<td>{{data['vendor']}}</td>
<td>{{data['rssi']}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</p>
</div>

<div id="clients" class="tab-pane fade">
<p>
<table class="sortable">
<thead>
<tr>
<th>MAC</th>
<th>Beacon</th>
<th>SSID</th>
<th>Channel</th>
<th>Vendor</th>
<th>RSSI (dBm)</th>
</tr>
</thead>
<tbody>
{% for addr, data in clients %}
<tr>
<td>{{addr}}</td>
<td>{{data['beacon']}}</td>
<td>{{data['ssid']}}</td>
<td>{{data['channel']}}</td>
<td>{{data['vendor']}}</td>
<td>{{data['rssi']}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</p>
</div>

<div id="control" class="tab-pane fade">
<p>
<div class="btn-toolbar">
<a class="btn btn-default" href="/download" role="button">Download data</a>
<a class="btn btn-default" href="/reset" role="button">Reset pHat</a>
</div>
</p>
</div>

</div>

</body>
</html>
